Portraying duplicating someone's actions in an alternate location as a security enhancement for them while utilizing their actions being duplicated by a synthetic body or non-living being as a modus to record and or analyze those activities not considered private personal information or information at least belonging to a person and therefore restricted so as to require just cause for analysis or recording.
Violating requirements for just cause to record or observe by duplicating the circumstances and recording and observing the duplicates
